doctype html
html
  head
    title Amazing64
    meta charset="utf-8"
    meta content="chrome=1" http-equiv="X-UA-Compatible"
    meta content="Amazing64 : Finally, good one base64 encoder" name="description"
    link href="stylesheets/preset.css" media="screen" rel="stylesheet" type="text/css"
    link href="stylesheets/stylesheet.css" media="screen" rel="stylesheet" type="text/css"

  body
    .dragdropzone
    .body
      section.content
    header
      section
        h2 Amazing64
        h5 Probably the best base64 online encoder
    footer
      section
        p
          | by&nbsp;
          a href="http://github.com/jabher" @jabher
    script src="javascripts/rgbaster.min.js"
    script src="javascripts/promise-0.1.1.min.js"
    script src="javascripts/main.js"