header, footer {
  background: #403f3b; }
  header h1, header h2, header h3, header h4, header h5, header h6, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    margin: 0;
    padding: 0; }
  header *, footer * {
    color: #e5e2d3; }

body, .body {
  background: white; }
  body *, .body * {
    color: #7f7d75; }

header, footer, .body {
  width: 100%; }
  header > section, footer > section, .body > section {
    width: 1200px;
    margin-left: auto;
    margin-right: auto; }

header, footer {
  position: absolute;
  left: 0; }

header {
  height: 78px; }

footer {
  height: 52px; }

header {
  top: 0; }

footer {
  bottom: 0;
  z-index: 0; }

.body {
  padding: 78px 0 52px;
  box-sizing: border-box;
  margin-bottom: -130px;
  min-height: 100vh; }

@-webkit-keyframes background-pulse {
  0%, 100% {
    background: rgba(255, 255, 255, 0.8); }

  50% {
    background: rgba(255, 255, 255, 0.4); } }

body.dragover:after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 101; }

.body:empty:after {
  content: "There' s nothing here yet. Try dropping some files here \a\a\a Beware, there's 32kb file size limit due to 2 reasons: \a -lack of browser support \a -file processing causes high CPU utilisation";
  width: 100%;
  text-align: center;
  white-space: pre;
  display: block;
  padding: 20px; }

.dragdropzone {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }
  body.dragover .dragdropzone {
    display: block; }
  .dragdropzone:before {
    content: "";
    position: absolute;
    left: 20px;
    top: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background: rgba(255, 255, 255, 0.8);
    -webkit-animation: background-pulse 2.5s infinite;
    box-sizing: border-box;
    border: dashed 10px #7f7d75;
    border-radius: 40px; }
  .dragdropzone:after {
    content: "drop your files here";
    position: absolute;
    left: 0;
    top: 50%;
    line-height: 0;
    width: 100%;
    text-align: center;
    font-size: 36px; }

section {
  position: relative; }
  section .cross {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer; }
    section .cross:after {
      content: "x"; }
  section .previewTitle, section .previewBody {
    width: 100%; }
  section .previewBody {
    text-align: right; }
  section .previewTitle span:not(:last-child):after {
    color: #403f3b;
    content: ";";
    margin-right: 10px; }
  section span.fileName:before {
    content: "File name: "; }
  section span.imageSize:before {
    content: "Image size: "; }
  section span.mainColor:before {
    content: "Image main color is: "; }
  section span.fileSize.danger {
    color: red; }
  section .imageContainer, section textarea.preview {
    height: 40px;
    display: inline-block; }
  section .imageContainer {
    width: 40px;
    margin-right: 20px;
    position: relative; }
    section .imageContainer .image {
      max-width: 40px;
      max-height: 40px;
      background-size: contain;
      background-position: center;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%); }
      section .imageContainer .image:before {
        content: "";
        position: relative;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: block; }
      section .imageContainer .image:hover:after {
        content: "";
        display: block;
        background-image: inherit;
        width: inherit;
        height: inherit;
        max-width: 480px;
        max-height: 320px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        opacity: 0.7; }
  section textarea.preview {
    width: calc(100% - 60px);
    background: #fffbea;
    border: 1px #403f3b solid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none; }
